<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goldze.mvvmhabit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".aioui.test.dec.TestDecActivity"
            android:exported="false" />
        <activity
            android:name=".aioui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity android:name=".ui.main.DemoActivity" />
        <activity android:name=".aioui.test.content.TestContentActivity" />
        <activity android:name=".ui.tab_bar.activity.TabBarActivity"></activity>
        <activity android:name=".ui.viewpager.activity.ViewPagerActivity" />
        <activity android:name=".aioui.clazz.ClazzActivity" />
        <activity android:name=".aioui.clazz.content.ClazzContentActivity" />
        <activity android:name=".aioui.kepu.KepuActivity" />
        <activity android:name=".aioui.gonggao.GonggaoActivity" />
        <activity android:name=".aioui.knows.KnowsActivity" />
        <activity android:name=".aioui.webview.WebViewFromUrlActivity" />
        <activity android:name=".aioui.zixun.input.InputActivity" />
        <activity android:name=".aioui.notice.NoticeActivity" />
        <activity android:name=".aioui.relax.RelaxActivity" />
        <activity android:name=".aioui.webview.WebViewActivity" />
        <activity android:name=".aioui.zixun.phone.PhoneListActivity" />
        <activity android:name=".aioui.scan.ScanActivity" />
        <activity android:name=".aioui.test.TestActivity" />
        <activity android:name=".aioui.test.result.FunnyResultActivity" />
        <activity android:name=".aioui.knows.content.KnowsContentActivity" />
        <activity android:name=".aioui.kepu.content.KepuContentActivity" />
        <activity android:name=".aioui.zixun.ZixunActivity" />
        <activity android:name=".aioui.relax.music.MusicActivity" />
        <activity android:name=".aioui.video.VideoActivity" />
        <activity android:name=".aioui.gonggao.content.GongGaoContentActivity" />

        <receiver
            android:name=".aioui.relax.music.play.notification.PlayerReceiver"
            android:exported="false"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="pure_music.kunminx.close" />
                <action android:name="pure_music.kunminx.pause" />
                <action android:name="pure_music.kunminx.next" />
                <action android:name="pure_music.kunminx.play" />
                <action android:name="pure_music.kunminx.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <service android:name=".aioui.relax.music.play.notification.PlayerService" />
    </application>

</manifest>